.page{
  p,li{
    font-size 18px;
  }
}
.navbar .logo {
  margin-right:0!important;
}
.theme-default-content code {
  background-color: lighten(#42b983, 80%);
  font-family: '微软雅黑';
  padding: 0.125rem 0.25rem;
}


blockquote {
    background-color: #f3f5f7;
    border-color: #42b983;
    border-width: 0.4rem;
    padding: 1.5rem 1rem;
}


/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 6px;
}

/* 外层轨道 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: rgba(255, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.03);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.06);
}
